/Trabalho1_Nicole-Bertolino-Lamounier-Santos/build/
/Trabalho1_Nicole-Bertolino-Lamounier-Santos/nbproject/private/
/Nova pasta/Trabalho1_Nicole-Bertolino-Lamounier-Santos/Trabalho1_Nicole-Bertolino-Lamounier-Santos/build/
/Nova pasta/Trabalho1_Nicole-Bertolino-Lamounier-Santos/Trabalho1_Nicole-Bertolino-Lamounier-Santos/nbproject/private/
